@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

#root {
  max-width: 1280px;
  margin: 0 30px;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}


form {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 30px;
  width: 300px;
  height: 110%;
  z-index: 1;
  border-radius: 3%;
  background-color: rgb(89, 102, 113);
  justify-content: center;
  align-items: center;
}
.head {
  position: relative;
  left: 230px;

  top: 80px;
}
input {
  font-size: 28px;
  border-radius: 10%;
  color: wheat;
  background-color: black;
  padding: 20px;
}
input:hover {
  transition: 1s all;
  background-color: rgb(78, 78, 82);
}
.Data {
  font-size: 20px;
}
button {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.786);
  font-weight: 600;
  border: 1px solid black;
}
p {
  font-size: 13px;
  color: wheat;
}
.bold {
 font-size: 20px; 
}
a {
  color: aliceblue;
}

svg {
  margin-top: 30px;
  font-size: 50px;
}

.newYear {
  position: relative;
  left: 20px;
}

.chrismas {
  position: relative;
  right: 244px;
  top: 68px;
  transform: rotate(-30deg);
}

.chrismas:hover {
  transition: 1s all;
  scale: 1.1;
  top: 60px;
}


.grinch {
  position: relative; 
  right: -20px;
  top: -520px;
  z-index: 0;
}

.wrapper_footer {
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
  display: flex;
  flex-direction: column;
}